/*Author: Joy Ahmed;
Email: joyahmed984@gmail.com;


****Index****

1. Top bar
2. Header Section
3. Hero Section
4. Contenmt Section
5. About Section
6. Contact Section
7. Footer Section

*/


/*Global CSS */
.bg-color{
    
    background-color: #0a2345;
}

.img{
    width: 100%;
    display: block;
    margin: 0 auto;
}

button.btn {
    border: 1px solid #004085;
    border-radius: 20px;
    background: transparent;
    color: #fff;
    display: block;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 65px;
}

/*Theme CSS */

header {
	background-color: #0a2345;
}

/* Navbar */

.navbar-brand {
	padding-top: 25px; 
}
.navbar-brand img {
	width: 160px;
}
.navbar-toggler {
	border-color: transparent!important;
}
.fa.fa-bars {
	color: #FF3334;
    font-size: 30px;
}
/*Collapse menu*/
.p-4 {
	text-align: right;
}

.nav-item {

}
.nav-link {
	color: #fff;
	font-weight: bold;
}	
.nav-link:hover {
	color: #258030;
}
.hero{
  background-color: #0a2345;  
}

.hero h1 {
    color: #fff;
    text-align: center;
    font-size: 45px;
    margin-top: 65px;
}

.head{
    color: #2a5da3;
}

.hero p {
    color: #fff;
    text-align: center;
}

.portfolio{
    background-color: #0a2345;
    background: url(../img/sliderbg.png)no-repeat;
    background-size: cover;
}

.portfolio-img {
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-top: 50px;
}
.content{
      background-color: #0a2345; 
}

.headset {
    display: block;
    width: 65%;
    margin: 0 auto;
    margin-top: 45px;
}

.content h2 {
    text-align: center;
    color: #fff;
    margin-top: 50px;
}

.content p {
    text-align: justify;
    color: #fff;
    padding: 20px 15px 10px 15px;
}

.service{
    background-color: #0a2345; 
}

.service-heading {
    text-align: center;
    color: #fff;
    margin-bottom: 65px;
    margin-top: 65px;
}

.service h3 {
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
}

.service p {
    color: #fff;
    font-size: 13px;
    text-align: justify;
    margin-bottom: 60px;
}

.img-position{
    position: relative;
}

.phone img {
    width: 150%;
    position: relative;
    top: -125px;
    left: -85px;
}
.blog {
    padding-bottom: 20px;
}

.galary{
    background-color: #0a2345;
}

.galary h2 {
    color: #fff;
    margin-bottom: 20px;
    margin-top: 15px;
}

.galary p {
    color: #fff;
    text-align: justify;
}

.galary-img {
    width: 100%;
    margin-top: -65px;
    margin-bottom: 45px;
}

.slider{
 
    background-color: #071427;
    
}

.product{
    
    background-color: #02050c;
}

.product h2 {
    color: #fff;
    text-align: center;
    padding-top: 65px;
}

.product p {
    text-align: center;
    font-size: 23px;
    margin-top: 35px;
    color: #fff;
}

.app-img {
    width: 500px;
    margin-bottom: -80px;
    margin-top: -40px;
    display: block;
    margin: 0 auto;
}

footer{
    
     background-color: #02050c;
}

.line {
    border-top: 1px solid #737373;
    padding-top: 20px;
}

 ul {
    list-style: none;
}
 ul li {
    display: inline;
    padding-left: 10px;
}

 ul li a {
    text-decoration: none!important;
}

footer p {
    color: #fff;
    margin-bottom: 50px;
}
/********************media quarry**************************/

@media (min-width:0px) and (max-width:575px){
    
    .img-position{
        
        position: relative;
        width: 50%;
        top:0px;
        display: block;
        margin: 0 auto;
        
    }
    
     .galary-img {
    
         width: 80%;
         display: block;
         margin: 0 auto;
        
    }
    
    .app-img{
        width: 60%;
        display: block;
        margin: 0 auto;
    }
}

@media (min-width:576px) and (max-width:767px){
    
       .img-position{
        
        position: relative;
        width: 50%;
        top:0px;
        display: block;
        margin: 0 auto;
        
    }
    
    .galary-img {
    
        
    }
}

@media (min-width: 768px) and (max-width: 991px){
    
    .img-position{
        
        position: relative;
        width: 150%;
        bottom:-180px;
        left: -50px;
        display: block;
        margin: 0 auto;
        
    }
    
    .blog{
        position: relative;
        top: 40px;
    
        
    }
    
     .blog-2{
        position: relative;
        top: 40px;
         left: 20px;
    
        
    }
    
}

@media (min-width: 992px) and (max-width: 1199px){
    
    .img-position{
        
        position: relative;
        width: 100%;
        bottom: -60px;
        display: block;
        margin: 0 auto;
        
    }
    
}